/* Color Palette */
:root {
    --primary-dark: #111; /* Very dark black */
    --primary-light: #fff; /* White */
    --secondary-dark: #333; /* Slightly lighter black */
    --secondary-light: #f5f5f5; /* Light gray */
    --accent: #555; /* darker gray */
    --background: #1e1e2c; /* Muted dark blue */
}

.black_text{
    color: #111;
}

.white_text{
    color: white;
}

/* General Styles */

p {
    color: var(--accent);
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background);
    margin: 0;
    color: var(--primary-dark);
}

a {
    color: var(--primary-dark);
    text-decoration: none;
}

a:hover, a:focus {
    color: var(--accent);
    text-decoration: underline;
}

.row {
    background-color: var(--primary-dark);
    border-radius: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    transition: all 0.3s ease;
}


.main-content {
    padding: 2rem;
}


h3, h4, h5, small {
    color: var(--secondary-light);
}

h1, h2 {
    margin-bottom: 1.5rem;
    font-weight: 600;
    color: var(--primary-light);
}

.container.mt-4 {
    padding-bottom: 30px;
}

/* Buttons */
.btn {
    background-color: var(--secondary-light);
    color: var(--primary-dark);
    border: 1px solid var(--accent);
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
}

.btn:hover,
.btn:focus {
    background-color: var(--background);
    color: var(--primary-light);
    border-color: var(--primary-light);
}


/* HEADER & FOOTER */

/* Navbar styling */
header {
    background-color: var(--primary-dark);
}

.navbar-brand,
.nav-link {
    color: var(--primary-light) !important;
    transition: color 0.2s;
}

.nav-link:hover {
    color: var(--accent) !important;
}

/* Footer styling */
footer {
    background-color: var(--primary-dark);
}

footer a {
    color: var(--primary-light) !important;
    transition: color 0.2s;
}

footer a:hover {
    color: var(--accent) !important;
}

/* CSS for success flash messages */
.alert-success {
    background-color: var(--background); /* Muted dark blue */
    color: var(--primary-light); /* White */
    border-color: var(--accent); /* Darker gray */
}

/* CSS for info flash messages */
.alert-info {
    background-color: var(--background); /* Muted dark blue */
    color: var(--primary-light); /* White */
    border-color: var(--accent); /* Darker gray */
}

/* CSS for warning flash messages */
.alert-warning {
    background-color: var(--background); /* Muted dark blue */
    color: var(--primary-light); /* White */
    border-color: var(--accent); /* Darker gray */
}

/* CSS for danger/error flash messages */
.alert-danger {
    background-color: var(--background); /* Muted dark blue */
    color: var(--primary-light); /* White */
    border-color: var(--accent); /* Darker gray */
}
