{% extends "base.html" %}

{% from "bootstrap5/form.html" import render_form %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="page-header">
                <h4>{{ heading }}</h4>
            </div>

            <!-- Form rendering is simple and easy if using bootstrap -->
            {{ render_form(form) }}

            <!-- When you have login form, then do show the user a link to register -->
            {% if heading|lower == 'login' %}
                <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
