{% extends 'base.html' %}

{% block title %}
    Page not found
{% endblock %}


{% block content %}
    <h1>Page not found</h1>
    <a href="/" class="navbar-brand" style="color:blue" >Take me back to the home page</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
{% endblock %}

  <!-- 404 -->