{% extends 'base.html' %}

{% block header %}

{% endblock %}


{% block content %}
<div class="py-5">
    <h1 class="display-4">Your Booking History</h1>
</div>

<div class="card-group">
    {% for event in events %}
    <div class="card mx-3">
        <img class="card-img-top" src="{{ url_for('static', filename=event.image_path) }}" alt="event picture">
        <div class="card-body">
            <h5 class="card-title">{{ event.title }}</h5>
            <p class="card-text">{{ event.id }}</p>
            <p class="card-text">{{ event.status }}</p>
            <p class="card-text">{{ event.date }}</p>
            <p class="card-text">{{ event.genre }}</p>
            <p class="card-text">{{ event.artist_or_band }}</p>
        </div>
        <div class="card-footer"><a href="{{ url_for('events.show', id=event.id) }}" class="btn btn-danger"> View
                Details
            </a></div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}
